@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 100% 5%;
    --foreground: 0 0% 98%;
    --card: 20 100% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 20 100% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 24 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 24 100% 50%;
    --radius: 0.75rem;

    --cursor: 217 57% 15%; /* HSL equivalent of #162137 */
    /* Default positions - will be overridden */
    --cursor-x: 0px;
    --cursor-y: 0px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Ninja';
  src: url('/assets/ninja.ttf') format('truetype');
}
